.app {
  &__no-matches, &__loading {
    text-align: center;
    margin: 100px 0 100px 0;
  }

  &__error {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    background-color: #ffdddd;
    color: #ff0000;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;

    .clean-error {
      border: none;
      background-color: #ff0000;
      color: #ffffff;
      padding: 10px;
      border-radius: 10px;
      margin-left: auto;
      font-weight: bold;
      cursor: pointer;
    }
  }

  .header-container {
    display: flex;

    .add-client {
        border: none;
        background-color: #00aa00;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    .search-client {
        border: none;
        background-color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        font-weight: bold;
        margin-left: auto;
    }
  }
}